<div class="container">
  <!-- Left panel -->
  <div class="left-panel">
    <app-canvas [crewmate]="crewmate"></app-canvas>
  </div>

  <!-- Right panel -->
  <div class="right-panel">
    <!-- Menu -->
    <div class="menu">
      <app-menu [categories]="categories" (onCategoryClicked)="onCategoryClicked($event)"></app-menu>
    </div>

    <!-- List Item -->
    <div class="items">
      <app-items (onItemClicked)="onItemClicked($event)" [items]="selectedCategory.items" [currentSelectedItem]="selectedItemId"></app-items>
    </div>

  </div>
</div>